@charset "utf-8";

  /*                             Large viewport                    */

@media only screen and (min-width: 1024px){
header {
	text-align: center;
	width: 100%;
}
body {
	font-size: 2vw;
	font-weight: 100;
	font-family: 'Josefin Sans', sans-serif;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
nav ul li {
    display: inline-block;
}

li a {
    color: black;
    padding: 14px 36px 14px 5px;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}
.current {
	color: red;
}
.poolgrid {
    max-width: 100vw;
    max-height: 100vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 1fr);
    z-index: 50;
    grid-gap: 5px;
    position: relative;
}
.poolname {
    grid-column: 2/20;
    grid-row: 2;
    border-bottom: solid black 5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.pooltask {
    grid-column: 2/20;
    grid-row: 3/10;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}
.pooltask p {
    text-indent: 2em;
}
.pooltask a {
    color: red;
    text-decoration: none;
}
.poolback {
    padding-top: 25px;
    grid-column: 2/20;
    grid-row:11;
}
.poolback a {
    color:red;
    text-decoration: none;
}
}







/*                           Medium viewport                         */

@media only screen and (min-width: 600px) and (max-width: 1024px){

header {
        text-align: center;
    }
body {
    font-size: 2vw;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
nav ul li {
    display: inline-block;
}

li a {
    color: black;
    padding: 14px 36px 14px 5px;
    text-decoration: none;
}
.current {
    color: red;
}
.poolgrid {
    max-width: 100vw;
    max-height: 100vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    z-index: 50;
    grid-gap: 5px;
    position: relative;
}
.poolname {
    grid-column: 2/20;
    grid-row: 2;
    border-bottom: solid black 5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.pooltask {
    grid-column: 2/20;
    grid-row: 3/11;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}
.pooltask p {
    text-indent: 2em;
}
.pooltask a {
    color: red;
    text-decoration: none;
}
.poolback {
    padding-top: 25px;
    grid-column: 2/20;
    grid-row:12;
}
.poolback a {
    color:red;
    text-decoration: none;
}
}



/*                           Small viewport                         */


@media only screen and (max-width: 600px){
header {
        text-align: center;
}
body {
    width: 100vw;
    height: auto;
    font-size: 3vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    background-color: white;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}
nav ul li {
    display: inline-block;
}

li a {
    color: black;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}
.current {
    color: red;
}
.poolgrid {
    max-width: 100vw;
    max-height: 100vw;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    z-index: 50;
    grid-gap: 5px;
    position: relative;
}
.poolname {
    grid-column: 2/20;
    grid-row: 2/3;
    border-bottom: solid black 5px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.pooltask {
    grid-column: 2/20;
    grid-row: 4/11;
    text-align: justify;
    margin: 0px;
    padding: 0px;
}
.pooltask p {
    text-indent: 2em;
}
.pooltask a {
    color: red;
    text-decoration: none;
}
.poolback {
    padding-top: 25px;
    grid-column: 2/20;
    grid-row:12;
}
.poolback a {
    color:red;
    text-decoration: none;
}
}
