/* Setting fixed borders and aligning elements in the center */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #66023c;
    font-family: "Courier New", monospace;
    color: #ff7373;
    text-align: center;
    position: fixed;
}
.grid-container {
	display: grid;
	grid-template-areas: 'topGrid' 'midGrid' 'botGrid' 'lowGrid';
	grid-template-columns: 100%;
	grid-template-rows: 20% 60% 10% 10%;
	width: 100%;
	height: 100%;
	align-items: center;
}
.topGrid {
	grid-area: topGrid;
}
.midGrid {
	grid-area: midGrid;
}
.botGrid {
	grid-area: botGrid;
}
.lowGrid { 
	grid-area: lowGrid;
}
#kirby {
	position: relative;
	width: 20%;
	}
/* 1. Move animation*/
@keyframes move {
	0% {
		left: 0%;
	}
	49.99999% {
		left: 65%;
	}
	50%{ 
		left: -65%;
	}
	100%{
		left: 0%;
	}
}
/* 2. Move to 30 animation*/
@keyframes moveTo30 {
	0% { 
	left: -65%;
	}
	100% {
    left: -32.5%; ;
	}
}
/*3. Move from 30 animation*/
@keyframes moveFrom30 {
	0% { 
	left: -32.5%;
	}
	100% {
    left: 65%;
	}
}
/* 4. One jump animation*/
@keyframes oneJump {
	0% { 
	bottom: 0%;
	}
	50% {
		bottom: 30%;
	}
	100% {
    bottom: 0%; 
	}
}
/* 5. Jumping animation*/
@keyframes jumping {
	0% { 
	bottom: 0%;
	}
	100% {
		bottom: 30%;
	}
}
/* 6. Fade animation*/ 
@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* 7. Glow animation */
@keyframes glow {
	0% {
		filter: drop-shadow(10px -30px 20px #ff63b1);
	}
	50% {
        filter: drop-shadow(0px 30px 20px #44d9e6);
	}

	100% {
        filter: drop-shadow(-10px -30px 20px #ffcf40);
    }
}
/* 8. Shake animation */
@keyframes shake {
	0% { 
	transform: translate(5px, 5px) rotate(0deg);
	}
    20% {
    transform: translate(-3px, -2px) rotate(-6deg);
    }
    40% {
    transform: translate(-9px, -5px) rotate(6deg);
    }
    80% { 
    transform: translate(1px, 3px) rotate(0deg); 
    }
    100% {
    transform: translate(10px, 3px) rotate(1deg);
    }
}
/* 9. Mirror animation */
@keyframes mirror {
	0% {
		left: 0%;
	}
	50%{
		left: -10%;
    }
    75% {
    	-webkit-box-reflect: right;
	}
	100%{
		left: -10%;
		-webkit-box-reflect: right;
	}
}
/* 10.Hitter animation */
@keyframes fallDown {
25% {
   transform: rotate(90deg); 
 }
 100% {
 	transform: rotate(90deg);
 }
 }